.post
  .header
    -if post.user.icon
      =image_tag(post.user.icon, :class=>'icon')
    .title
      =post.title.upcase
    .info_section
      .info
        =image_tag('/assets/icons/envelope.png')
        .text
          =link_to(post.user.nickname, user_path(post.user.nickname))
      .info
        =image_tag('/assets/icons/calendar.png')
        .text
          =post.display_time
    -if post.subtitle
      .subtitle
        =post.subtitle
  %p.body
    =post.body.html_safe