.post
  .header
    -if @post.user.icon
      =image_tag(@post.user.icon, :class=>'icon')
    .title
      =@post.title.upcase
    .author
      -if @post.user.email
        .info
          =image_tag('/assets/icons/envelope.png')
          .text
            =mail_to(@post.user.email, @post.user.display_name)
      -else
        .info
          .text
            =@post.user.display_name
      -if @post.user.twitter_id
        .info
          =image_tag('/assets/icons/twitter.png')
          .text
            =link_to("@#{@post.user.display_name}", "http://twitter.com/#{@post.user.display_name}")
      .info
        =image_tag('/assets/icons/calendar.png')
        .text
          =@post.display_time
    -if @post.subtitle
      .subtitle
        =@post.subtitle
  %p.body
    =@post.body.html_safe