.post
  .header
    -if post.user.icon
      =link_to image_tag(post.user.icon, :class=>'icon'), user_path(post.user.nickname)
    %h1
      =post.title.upcase
    .info_section
      =link_to(user_path(post.user.nickname)) do
        .info.link
          =image_tag('/assets/icons/info.png')
          .text
            =post.user.nickname
      .info
        =image_tag('/assets/icons/calendar.png')
        .text
          =post.display_time
      -if user_signed_in? && current_user == post.user
        .info
          .text.link
            =link_to('EDIT', rails_admin.edit_path(model_name:'post', id:post.id))
  %p.body
    =post.body.html_safe
  .spacer
  .actions
    %a.comment_button
      COMMENT
    %a.share_button
      SHARE
    -if post.tag_list.count>0
      .tags
        .tags_title
          TAGS
        -post.tag_list.each do |tag|
          =link_to(tag.upcase, tag_archive_path(tag))
  .spacer
    .fb-comments{'data-href'=>post_url(post.id), 'data-numposts'=>'5', 'data-colorscheme'=>'light', :style=>'display:none;'}