.post
  .header
    -if post.user.icon
      =link_to image_tag(post.user.icon, :class=>'icon'), user_path(post.user.nickname)
    %h1
      =post.title.upcase
    .info_section
      =link_to(user_path(post.user.nickname)) do
        .info
          =image_tag('/assets/icons/info.png')
          .text
            =post.user.nickname
      .info
        =image_tag('/assets/icons/calendar.png')
        .text.date
          =post.display_time
    -if post.subtitle
      .subtitle
        =post.subtitle
  %p.body
    =post.body.html_safe
  .spacer
  .actions
    =link_to 'COMMENT'
    =link_to 'SHARE'
    =link_to 'LIKE'
    =link_to 'TWEET'
    .tags.right
      TAGS
  .spacer