.posts
  -tag_cloud(tag_cloud.order(:name), %w(css1 css2 css3 css4)) do |tag, css_class|
    =link_to tag_archive_path(tag.name), 'data-push'=>true do
      .entry.black{:class=>css_class}
        =tag.name.upcase