.index
  -@posts.each do |p|
    =link_to post_path(p.id) do
      .entry.inline{:class=>"#{(p.id%10==0 ? 'black' : p.id%2==0 ? 'gray' : 'white')}"}
        .title
          =p.title
        .date
          ="##{p.id} - #{p.date}"