.index
  -if @tags.count>0
    =render :partial=>'tag_cloud', :object=>@tags
    .spacer
  .posts
    -@posts.reverse.each do |p|
      =link_to post_path(p.id), 'data-push'=>true do
        .entry{:class=>"#{(p.post_id%10==0 ? 'black' : p.post_id%2==0 ? 'gray' : 'white')}"}
          .title
            =p.title.upcase
          .date
            ="##{p.post_id} - #{p.date}"