=render partial: "post"

-if @post.older || @post.newer
  #navigation
    -if @post.older
      =link_to("Previous", post_path(@post.older.id))
    -if @post.newer
      =link_to("Next", post_path(@post.newer.id))