/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face{
	font-family: 'CrimsonText';
	src: url('/fonts/crimson/CrimsonText-Roman.ttf');
}

@font-face{
	font-family: 'Forum';
	src: url('/fonts/forum/Forum-Regular.ttf');
}

@font-face{
	font-family: 'Fjord';
	src: url('/fonts/fjord/FjordOne-Regular.otf');
}

@font-face{
	font-family: 'Lato';
	src: url('/fonts/lato/Lato-Reg.ttf');
}

@font-face{
	font-family: 'LeagueGothic';
	src: url('/fonts/League-Gothic/LeagueGothic-Regular.otf');
}

@font-face{
	font-family: 'Oswald';
	src: url('/fonts/oswald/Oswald-Regular.otf');
}

@font-face{
	font-family: 'RobotoSlab';
	src: url('/fonts/roboto-slab/RobotoSlab-Regular.ttf');
}

@font-face{
	font-family: 'Rosario';
	src: url('/fonts/rosario/Rosario-Regular.otf');
}

@font-face{
	font-family: 'Stalemate';
	src: url('/fonts/stalemate.regular.ttf');
}

a{
	color: #0099cc;
	cursor: pointer;
	font-family: 'Oswald';
	text-decoration: none;
	&:hover{
		color: #006699;
	}		
}

div{
	border: 0px;
	cursor: default;
	margin: 0px;
	padding: 0px;
}

html, body{
	//background-image:url('backgrounds/summer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px;
	height: 100%;
	margin: 0px;
	min-width: 600px;
	padding: 0px;
	width: 100%;
	
	::selection{
		background-color: #0099cc;
		color: #ffffff;
	}
	::-moz-selection{
		background-color: #0099cc;
		color: #ffffff;
	}
}

h1{
	border: 0px;
	font-family: 'Oswald';
	font-size: 32px;
	margin: 0px;
	padding: 0px;
}

h2{
	border: 0px;
	font-family: 'Oswald';
	font-size: 40px;
	margin: 0px;
	padding: 0px;
}

img{
	border: 0px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

p{
	border: 0px;
	font-family: 'Lato';
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

table{
	border: 0px;
	margin: 0px;
	padding: 0px;
	td{
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	th{
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	tr{
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
}

.black{ background-color: #000000; }
.white{ background-color: #ffffff; }
.red{ background-color: #ff0000; }
.blue{ background-color: #0000ff; }
.green{ background-color: #00ff00; }

.left{ float: left; }
.right{ float: right }
.bold{ font-weight: bold; }
.inline{ display: inline-block; }

.clearfix{ display: inline-block; }
.clearfix:after{
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.small_icon{
	height: 20px;
	width: 20px;
}

.medium_icon{
	height: 28px;
	width: 28px;
}

.spacer{
	border-bottom: 1px solid #c0c0c0;
}

.title{
	font-family: 'Oswald';
}

.date{
	font-family: 'Lato';
}

.navigation{
	a{
		font-size: 28px;
		font-weight: bold;
	}
}

#header{
	//background-image:url('avatars/mikey.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: auto 150px;
	background-color: #000000;
	/*
	box-shadow:
		0px 2px 0px #ffffff,
		0px 4px 0px #000000;
	*/
	height: 175px;
	width: 100%;
	z-index: 2;

	.logo{
		cursor:inherit;
		position: fixed;
		z-index: 2;
		img{
			top: 25px;
			display: inline-block;
			height: 150px;
			pointer-events: none;
			position: fixed;
		}
		.title{
			color: #ffffff;
			cursor: inherit;
			float: left;
			font-family: 'LeagueGothic';
			font-size:170px;
			margin: 10px 0px 0px 10px;
			//text-shadow: 1px 1px 3px #202020;
		}
	}
	.links{
		float:right;
		top: 0px;
		right: 0px;
		margin: 10px 25px 10px 25px;
		.link{
			display: inline-block;
			margin: 0px 0px 0px 25px;
			a{
				color: #ffffff;
				display: inline-block;
				font-family: 'Oswald';
				font-size: 20px;
				font-weight: bold;
				&:hover{
					color: #006699;
				}
			}
			img{
				display: inline-block;
				height: 20px;
				width: 20px;
			}
			.latest{
				color: #0099cc;
			}
		}
	}
}

#scene{
	color: #000000;
	height: calc(100% - 175px);
	height: -moz-calc(100% - 175px);
	height: -webkit-calc(100% - 175px);
	overflow: scroll;
	position: relative;
	text-align: center;
	z-index: 1;
	.scene_body{
		display: inline-block;
		margin: 30px 0px 80px 0px;
		max-width: 960px;
		min-height: calc(100% - 141px);
		min-height: -moz-calc(100% - 141px);
		min-height: -webkit-calc(100% - 141px);
		width: calc(100% - 180px);
		width: -moz-calc(100% - 180px);
		width: -webkit-calc(100% - 180px);
		text-align: left;
		
	}
	#footer{
		height: 27px;
		padding: 3px 0px 0px 0px;
		a{
			color: #808080;
			font-size: 13px;
			margin: 0px 10px 0px 10px;
		}
	}
}

#subscribe{
	bottom: 0px;
	right: 0px;
	margin: 0px 10px 0px 10px;
	position: fixed;
	z-index: 2;
	img{
		height: 20px;
		width: 20px;
	}
}