// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{
	.icon{
		float: left;
		margin: 0px 20px 0px 0px;
	}
	.name{
		font-family: 'LeagueGothic';
		font-size: 40px;
	}
	.info{
		height: 40px;
		img{
			float: left;
			height: 30px;
			width: 30px;
			margin: 0px 5px 0px 0px;
		}
		.text{
			font-family: 'Rosario';
			font-size: 24px;
		}
	}
	
}