// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index{
	font-family: 'Oswald';

	.entry{
		border: 0px;
		cursor: pointer;
		padding: 1px 10px 1px 10px;
		margin: 8px 15px 8px 0px;

		.title{
			color: #0099cc;
			cursor: inherit;
			font-family: 'Oswald';
			font-size: 18px;
		}
		.date{
			color: #000000;
			cursor: inherit;
			font-size: 14px;
		}
		&:hover{
			background-color: #0099cc;
			color: #ffffff;
		}
		&:hover .date{
			color: #ffffff;
		}
		&:hover .title{
			color: #ffffff;
		}
	}
}

.post{
	.header{
		.icon{
			float: left;
			height: 64px;
			margin: 6px 12px 6px 0px;
			width: 64px;
		}
		.info_section{
			margin: 2px 0px 0px 0px;
			.info{
				cursor: pointer;
				display: inline-block;
				margin: 0px 13px 0px 0px;
				img{
					float: left;
					height: 20px;
					width: 20px;
					margin: 0px 3px 0px 0px;

				}
				a{
					font-size: 16px;
				}
				.text{
					cursor: inherit;
					float: left;
					font-family: 'Lato';
					font-size: 14px;
					margin: 1px 0px 0px 0px;
				}
			}
		}
		.subtitle{
			color: #f0f0f0;
			font-size: 14px;
		}
	}
	.body{
		padding: 20px 0px 40px 0px;
	}
}

.navigation{
	height: 70px;
	margin: 20px 0px 0px 0px;
	a{
		font-size: 28px;
		margin: 0px 25px 0px 0px;
	}
}