// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post{
	border-bottom: 1px solid #808080;
	padding: 30px 0px 30px 0px;
	.header{
		.icon{
			float: left;
			height: 64px;
			margin: 0px 10px 0px 0px;
			width: 64px;
		}
		.title{
			display: inline-block;
			font-family: 'Oswald';
			font-size: 26px;
			font-weight: bold;
		}
		.author{
			.info{
				display: inline-block;
				margin: 0px 11px 0px 0px;
				img{
					float: left;
					height: 20px;
					width: 20px;
				}
				.text{
					display: inline-block;
					font-family: 'LeagueGothic';
					font-size: 17px;
				}
			}
		}
		.subtitle{
			color: #f0f0f0;
			font-size: 14px;
		}
	}
	.body{
		font-size: 13px;
		padding: 0px 10px 0px 10px;
	}
}

#navigation{
	height: 100px;
	margin: 20px 0px 0px 0px;
	a{
		font-size: 28px;
		font-weight: bold;
		margin: 0px 10px 0px 0px;
	}
}