#subscribe
  //=link_to image_tag('/assets/icons/twitter.png'), "http://www.twitter.com"
  //=link_to image_tag('/assets/icons/facebook.png'), "http://www.facebook.com/pages/"
  =link_to image_tag('/assets/icons/rss.png'), feed_path(:rss)