!!! html
%html
%head
  %title Magical Narwhal
  = stylesheet_link_tag    "application", media:"all", "data-turbolinks-track"=>true
  = javascript_include_tag "application", "data-turbolinks-track"=>true
  =csrf_meta_tags

%body
  #header
    .links
      =link_to('Home', root_path)
      =link_to('Archive', archive_path)
      =link_to('About', about_path)
    .subscribe
      =link_to image_tag('/assets/icons/rss.png'), "http://www.google.com"
      =link_to image_tag('/assets/icons/facebook.png'), "http://www.facebook.com"
      =link_to image_tag('/assets/icons/twitter.png'), "http://www.twitter.com"
  #scene
    #body
      =yield