!!! html
%html
%head
  %title Magical Narwhal
  = stylesheet_link_tag    "application", media:"all", "data-turbolinks-track"=>true
  = javascript_include_tag "application", "data-turbolinks-track"=>true
  =csrf_meta_tags

%body
  #scene
    #subscribe.right
      =link_to('Subscribe', subscribe_path)
    #body
      =yield
    #footer.center
      =link_to('Newest Post', posts_latest_path, :class=>['main'])
      =link_to( 'Archive', posts_path)
      =link_to( 'About', about_path)
      =link_to( 'Forum', about_path)      
      =link_to( 'Contact', contact_path)
