!!! html
%html
%head
  %title
    =@app_title
  = stylesheet_link_tag    "application", media:"all", "data-turbolinks-track"=>true
  = javascript_include_tag "application", "data-turbolinks-track"=>true
  =csrf_meta_tags

%body
  #header
    =link_to(root_path) do
      .logo
        =image_tag('/assets/avatars/mikey.png')
        .title
          ="<span style='color:#0099cc;'>#{@app_title_prefix}</span>#{@app_title_suffix}".html_safe
      .links
        .link
          =link_to('LATEST', latest_path, :class=>'latest')
        .link
          =link_to('ARCHIVE', archive_path)
  #scene
    .scene_body
      =yield
    .spacer
    #footer
      =link_to('ABOUT', about_path)
      =link_to('CONTACT', contact_path)
      =link_to('PRIVACY', privacy_path)
      =link_to('TERMS', terms_path)

  #subscribe
    =link_to image_tag('/assets/icons/twitter.png'), "http://www.twitter.com"
    =link_to image_tag('/assets/icons/facebook.png'), "http://www.facebook.com/pages/"
    =link_to image_tag('/assets/icons/rss.png'), feed_path