!!! html
%html
%head
  %title Blueprint
  = stylesheet_link_tag    "application", media:"all", "data-turbolinks-track"=>true
  = javascript_include_tag "application", "data-turbolinks-track"=>true
  =csrf_meta_tags

%body
  #scene
    #subscribe.right
      =link_to('Subscribe', subscribe_path)
    #body
      =yield
    #next_body
    #footer.center
      =link_to('Home', root_path)
      =link_to( 'Archive', posts_path)
      =link_to( 'About', about_path)  
      =link_to( 'Contact', contact_path)