!!! html
%html
%head
  %title MISOPHIKEY
  = stylesheet_link_tag    "application", media:"all", "data-turbolinks-track"=>true
  = javascript_include_tag "application", "data-turbolinks-track"=>true
  =csrf_meta_tags

%body
  #header
    =link_to("Misophikey", root_path, :class=>'logo')
    .links
      =link_to('LATEST', latest_path)
      =link_to('ARCHIVE', archive_path)
      =link_to('ABOUT', about_path)
  #scene
    =yield
  #subscribe
    =link_to image_tag('/assets/icons/rss.png'), "http://www.google.com"
    =link_to image_tag('/assets/icons/facebook.png'), "http://www.facebook.com"
    =link_to image_tag('/assets/icons/twitter.png'), "http://www.twitter.com"